<h1>About Trip</h1>

<p>
  Trip id: <%= @trip.id  %></br>
  Driver id: <%= @trip.driver_id %></br>
  Driver name: <%= @trip.driver.name %></br>
  Trip Rating: <%= @trip.rating %></br>

  Passenger name: <%= @trip.passenger.name %></br>
</p>

<%= button_to "Update", edit_trip_path(@trip.id), method: :get %>

<%= button_to "Delete", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %>


<%= button_to "Create New Trip", new_trip_path(@trip.passenger.id), method: :get %>
