

<table>
  <tr class = "main page">
    <td class = "driver icon">
      <%=link_to image_tag("driver2.png"), drivers_path %>
    </td>
    <td class = "passenger icon">
      <%=link_to image_tag("passenger2.png"), passengers_path %>
    </td>
    <td class = "trip icon">
      <%=link_to image_tag("car2.png"), trips_path %></td>
  </tr>
  <tr>
    <td class = "driver link">
      <%=link_to "Drivers", drivers_path %>
    </td>
    <td class = "driver link">
      <%=link_to "Passengers", passengers_path %>
    </td>
    <td class = "driver link">
      <%=link_to "Trips", trips_path %>
    </td>
  </tr>
</table>
