

<table >
  <tr class = "main page">
    <td class = "driver icon">
      <%=link_to image_tag("driver.png"), drivers_path %>
    </td>
    <td class = "passenger icon">
      <%=link_to image_tag("passenger.png"), passengers_path %>
    </td>
    <td class = "trip icon">
      <%=link_to image_tag("car.png"), trips_path %></td>
  </tr>
  <tr>
    <td class = "driver link">
      <%=link_to "Drivers", drivers_path %>
    </td>
    <td class = "driver link">
      <%=link_to "Passengers", passengers_path %>
    </td>
    <td class = "driver link">
      <%=link_to "Trips", trips_path %>
    </td>
  </tr>
</table>

<h1>Welcome to Rana & Kelly's Rideshare</h1>
