

<h1>Welcome to Passenger List</h1>
<p>
  <ul>
    <% @passengers.each do |passenger| %>
    <li>
      <%= passenger.id %>
      <%= link_to passenger.name, passenger_path(passenger.id) %>
      <%= passenger.phone_num %>

      <li> <%= button_to "Update", edit_passenger_path(passenger.id), method: :get %></li>

      <li> <%= button_to "Delete", passenger_path(passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete this"} %></li>

    <% end %>
  </ul>
</p>
