<h1>About Passenger # <%= @passenger.id %></h1>
<p>
  Passenger name <%= @passenger.name  %></br>
  Passenger phone number <%= @passenger.phone_num %></br>
  Total Spent:  <%= number_to_currency(@passenger.all_trips_cost) %>
</p>
<%= button_to "Edit Passenger", edit_passenger_path(@passenger.id), method: :get %>
<%= button_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete this"} %>
<%= button_to "Add New Trip", new_trip_path(@passenger.id), method: :get %>
<table>
  <tr>
    <th>
     Trip ID
    </th>
    <th>
      Date
    </th>
    <th>
     Cost
    </th>
    <th>
    Rating
    </th>
  </tr>
 <% @passenger.trips.each do |trip|%>
   <tr>
     <td><%= link_to trip.id, trip_path(trip.id), method: :get %></td>
     <td> <%= trip.date %> </td>
     <td><%= number_to_currency(trip.cost) %></td>
     <td><%= trip.rating %></td>
   </tr>
 <% end %>
 </br>
