<ul>

  <% @driver.errors.each do |field, message| %>
  <li>
    <%= field %><%= message %>
  </li>
  <% end %>
</ul>

<%= form_for @driver, method: form_method do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :vin %>
<%= f.text_field :vin %>

<%= f.submit action_name %>

<% end %>
