<%= link_to "Home:", drivers_path %>


<h1><%= @result_driver.name %></h1>

<p>

ID:
<%= @result_driver.id %>

</p>
    <p>
      VIN: <%= @result_driver.vin %>
    </p>

<%= link_to "Edit Driver", edit_driver_path, class: "link" %>
</p>
<p>
<%= link_to "Delete Driver", driver_path,
data: { confirm: "Are you sure you want to delete this driver?"},
method: :delete
 %>
</p>
