

<h1><%= @result_driver.name %></h1>

<p>

ID:
<%= @result_driver.id %>

</p>
<p>

    <p>
      VIN: <%= @result_driver.vin %>
    </p>

    <%= link_to "Update Driver", edit_driver_path(@result_driver.id), method: :get %>

    <%= link_to "Delete Driver", driver_path(@result_driver.id), method: :delete, data: {confirm: "Are you sure you want to delete this"} %>

    <%= link_to "Add New Trip", new_trip_path(@result_driver.id), method: :get %>
</p>
<h3> Trips Driven</h3>
  <table>
    <tr>
      <th>
      Trip ID
      </th>
      <th>
      Driver ID
      </th>
      <th>
      Passenger ID
      </th>
      <th>
      Date
      </th>
      <th>
      Rating
      </th>
    </tr>
   <% @result_driver.trips.each do |trip|%>
     <tr>
       <td><%= trip.id %></td>
       <td><%= trip.driver_id %></td>
       <td><%= trip.passenger_id %></td>
       <td> <%= link_to trip.date, trip_path(trip.id),  method: :get %> </td>
       <td>$<%= trip.cost %></td>
       <td><%= trip.rating %></td>
     </tr>
   <% end %>
   </br>
