<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <nav>
    <div class="dropdown">
      <button class="dropbtn"><%= link_to "Home", rideshare_index_path %></button>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Drivers</button>
      <div class="dropdown-content">
        <%= link_to "Show all", drivers_path %>
        <%= link_to "Create New", new_driver_path %>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Passengers</button>
      <div class="dropdown-content">
        <%= link_to "Show all", passengers_path %>
        <%= link_to "Create New", new_passenger_path %>
      </div>
    </div>




  </na>

  <body>

    <%= yield %>

  </body>
</html>
